body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

html {
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #1e293b;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.profile {
    width: 150px;
    border-radius: 50%;
}

.card {
    background: #1e293b;
    margin: 10px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
}

.show {
    opacity: 1;
    transform: translateY(0);
    transition: 0.6s;
}

.resume-img {
    width: 300px;
}

.btn {
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    border-radius: 8px;
    text-decoration: none;
}